.button {
    background-color: #ff4500;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.link {
    margin: 15px 15px;
    display: flex;
    justify-content: space-between;
    input {
        display: block;
        margin: 0 auto;
    }
    .link_button {
        flex: 0 0 30%;
    }
}
